<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876239669023-8m09o262r6k2m2k65ok677dbvu7u2gjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876239669023-8m09o262r6k2m2k65ok677dbvu7u2gjj</string>
	<key>API_KEY</key>
	<string>AIzaSyAw5hJsJkH1gMUF8Ocy4zkXwx-fVvIz5dM</string>
	<key>GCM_SENDER_ID</key>
	<string>876239669023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RSL.Armaro</string>
	<key>PROJECT_ID</key>
	<string>armaro-f5569</string>
	<key>STORAGE_BUCKET</key>
	<string>armaro-f5569.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:876239669023:ios:f22c30a4688ab7f370122a</string>
	<key>DATABASE_URL</key>
	<string>https://armaro-f5569.firebaseio.com</string>
</dict>
</plist>
